body {
    font-family:monospace, verdana, sans-serif;
    color:darkred;
    background-color:burlywood;
}

header {
    color:burlywood;
    background-color:darkred;
}

nav {
    color:darkred;
}

#about {
    color:burlywood;
    background-color:darkred;
}

footer {
    color:burlywood;
    background-color:darkred;
}